name: Deploy no vercel

on:
  push:
    branches:
      - imsi-action

jobs:
  Deploy-Production:
    runs-on: ubuntu-latest
    env:
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
      VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Vercel CLI
        run: npm install -g vercel@latest

      - name: Pull Vercel Environment
        run: vercel pull --yes --environment=production --token=$VERCEL_TOKEN

      - name: Build Artifacts
        run: vercel build --prod --token=$VERCEL_TOKEN

      - name: Deploy
        run: vercel deploy --prebuilt --prod --token=$VERCEL_TOKEN
